:root {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.gallery {
	width: 100vw;
	padding: 1rem;
	margin-top: 7rem;
}

.images {
	width: 100%;
	column-count: 1;
	column-gap: 1rem;
	margin-top: 1rem;
	background-color: #181d27;
	padding: 1rem;
	border-radius: 0.5rem;
}

.gallery img {
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
	display: inline-block;
	margin: 0 0 1rem;
}

@media only screen and (min-width: 768px) {
	.images {
		column-count: 2;
	}
}

@media only screen and (min-width: 992px) {
	.images {
		column-count: 3;
	}
}

@media only screen and (min-width: 1200px) {
	.images {
		column-count: 4;
	}

	.gallery {
		padding: 1rem 5rem;
	}
}
